
<section id="cover" class=" flexcontainer">
  <div id="cover-caption">
    <div class="container-fluid">

      <div class="row">
        <div class="offset-md-4 col-md-8">
          <p class="cover-message-blod">We Are Local, Green, And Affordable.</p>
          <p class="cover-message">Connecticut Premier Eco-Friendly Damage Restoration Company.</p>
          <!-- <p>Call Us: 203-995-9867</p> -->
        </div>
      </div>
      <br>


      <div class="row">
        <div class="offset-md-6 col-md-4">
            <%= render 'form', message: @message %>
        </div>
      </div>

    </div>
  </div>
</section>

<%= render "sections/services" %>
<%= render "sections/info" %>
