

/*
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Passion One', cursive;
font-family: 'Crete Round', serif;
font-family: 'Hammersmith One', sans-serif;
font-family: 'Teko', sans-serif;
font-family: 'Ubuntu Condensed', sans-serif;
font-family: 'Archivo Narrow', sans-serif;
*/

html,
body {
    height: 100%;
}

.cover-message-blod {
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: $gray;
}
.cover-message {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  color: $gray;
}

.form-font {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

#cover {
    background: #222 url('cover10.png') center center no-repeat;
    background-size: cover;
    color: white;
    height: 700px;
    text-align: center;
    display: flex;
    align-items: center;
}

#cover-caption {
    width: 100%;
}

.bgcolor {
  background-color: #D2E7BF;
}

.flexcontainer {

   /* You can set flex-wrap and flex-direction individually */
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   /* Or do it all in one line with flex flow */
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   /* tweak the where items line up on the row */
   /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
   -webkit-align-content: flex-end;
   align-content: flex-end;
 }
