.resto-bg {
  //height: 150px;
  background-color: $green;
  margin-bottom: 30px;
padding: 30px 0 12px;
}

.img-h {
  height: 150px;
  //margin: 20px;
}

.inl-img {
    display:inline;
}

.resto-title {
  color: #D1E7C3;
  padding-top: 20px;
}

.resto-section {
  padding: 20px 0;
}

.resto-text {
  font-size: 22px;
}
