
.services-bg {
  background-color: $green;
  padding: 30px 30px 50px 30px;
  margin-bottom: 100px;
}

.service-icon {
  margin-top: 30px;
}

.assistance {
  text-align: center;
  color: $gray;
  font-weight: bold;
}
.span24 {
  background-color: $red;
  color: $white;
  padding: 5px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
