<div class="container-fluid condition-bg">
  <div class="row justify-content-center">
    <div class="col-xs-12">
      <ul>

        <li  class="inl"><%= link_to "terms and conditions", restoration_term_path, class: "t-colored" %></li>

        <li  class="inl"><%= link_to "privacy policy", restoration_privacy_path, class: "t-colored"   %></li>

        <li  class="inl">@www.greenestorationservice.com 2017</li>

      </ul>
    </div>
  </div>
</div>
