
<div class="container-fluid bg-footer">

  <div class="row  justify-content-center">
  <div class="col-md-3 ">
    <p class="footer-title">Our Service Areas<p>
      <ul class="list-group">
        <li class="list-group-item">Fairfield County, CT</li>
        <li class="list-group-item">New Haven County, CT</li>
        <li class="list-group-item">Westchester County, NY</li>
      </ul>
  </div>

  <div class="col-md-3">
    <p class="footer-title">Some Of What We Do</p>
      <ul class="list-group">
        <li class="list-group-item ">Water Damage Restoration</li>
        <li class="list-group-item">Fire Damage Restoration</li>
        <li class="list-group-item">Flood Damage Restoration</li>
        <li class="list-group-item">Asbestos Removal</li>
        <li class="list-group-item">Desaster Clean Up</li>
        <li class="list-group-item">Allergen Removal</li>
        <li class="list-group-item">Mold Remediation</li>
        <li class="list-group-item">Odor Removal</li>
        <li class="list-group-item">Smoke Damage Restoration</li>
      </ul>
  </div>

  <div class="col-md-3 ">
    <p class="footer-title">We Are Certified<p>
      <ul class="list-group">
        <li class="list-group-item">IICRC</li>
        <li class="list-group-item">RSA</li>
        <li class="list-group-item">EPA</li>
        <li class="list-group-item">OSHA</li>
        <li class="list-group-item">Insurance Claim Specialist</li>
      </ul>
  </div>

<div class="col-md-3">
  <p class="footer-title">Follow Us</p>
<div class="wrapper">
  <i class="fa fa-5x fa-facebook-square"></i>
  <i class="fa fa-5x fa-twitter-square"></i>
</div>
</div>
</div>

</div>
