<div class="container">
<hr>
<div class="info">
  <!-- <h1>Fast and eco friendly service </h1> -->
  <h4>We Choose a Green Approach To Damage Restoration, A Win For You And For Our Planet.</h4>
</div>


    <div class="row centered pad-top">
        <div class="col-sm-4 col-xs-4">
            <div class="list mb-2  bordr">
                <div class="list-content">
                    <h2>24/7 Assistance</h2>
                    <hr>
                    <span class="list-meta">

                    </span>
                    <p>A thriller set in a world sharply divided between progress and devastation, where people are given the chance to make it to the "better side" but only 3% of the candidates succeed.</p>
                </div>
            </div>
        </div>


        <div class="col-sm-4 col-xs-4">
            <div class="list mb-2  bordr">
                <div class="list-content">
                    <h2>Eco-Friendly Service</h2>
                    <hr>
                    <span class="list-meta">

                    </span>
                    <p>A thriller set in a world sharply divided between progress and devastation, where people are given the chance to make it to the "better side" but only 3% of the candidates succeed.</p>
                </div>
            </div>
        </div>


        <div class="col-sm-4 col-xs-4">
            <div class="list mb-2  bordr">

                <div class="list-content">
                    <h2>Affordability</h2>
                    <hr>
                    <span class="list-meta">

                    </span>
                    <p>A thriller set in a world sharply divided between progress and devastation, where people are given the chance to make it to the "better side" but only 3% of the candidates succeed.</p>
                </div>

            </div>
        </div>

    </div>
</div>
<br>
<br>
