
<section class="container resto-section">

<div class="row resto-bg">
    <div class="col-sm-4 ">
      <ul>
        <li class="inl-img "><%= image_tag "water-damage-restoration.png", class: "img-thumbnail thumbnail img-h"%></li>
      </ul>

    </div>
    <div class="col-sm-8 centered">
      <h1 class="resto-title">Water Damage Restoration</h1>
      <hr>
      <h2 class="assistance ;"><span class="span24">24/7</span> Assistance: 203-263-1006</h2>

    </div>

</div>

<div class="row   justify-content-center">
    <div class="col-md-8 resto-text">

      <p>Through the use of industry-proven drying techniques to guarantee the most efficient drying process, our dehumidification experts set up and monitor the drying process through every phase to ensure that proper drying occurs. We ensure that moisture deep within walls, floors, and contents is thoroughly removed, avoiding a wide range of future problems.</p>

      <p>Water damage services include: water extraction, complete structural drying, advance dehumidification, mold and environmental remediation, carpet, upholstery and area rug cleaning, document salvage, drying and reprocessing, electronics restoration, and structural repairs.</p>

      <p>Water damage can be severely damaging to your home. Left untreated, water damage can lead to a myriad of problems. Mold colonies can form in moist areas; this can multiply and cause serious health problems for the inhabitants of your home. Electrical outlets that are exposed can catch on fire even once the water is drained. This is particularly true for salt water damage which retains its own electrical charge and can lead to fires. Further, the integrity of your foundation can be weakened by water damage which can result in serious structural problems in your home as a result.</p>

      <h2>We Will Provide You With The Best Service Possible:</h2>

    	<li>Quick Response Times</li>
    	<li>Free Estimates</li>
    	<li>24 Hr Emergency Water Extraction & Cleanup Services</li>
    	<li>Complete and Thorough Structural Drying</li>
    	<li>We Bill & Communicate Directly With Your Insurance</li>
    	<li>Daily Monitoring of Damaged Property</li>
    	<li>Fully Equipped To Handle Any Size Loss</li>
    	<li>Professional Customer Care</li>

    </div>
  </div>
</section>
